{% extends 'base.html.twig' %}

{% block contenu %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 style="text-align:center;">Les formations proposées par l'IUT</h1>
    <br>
    {% for formationCourante in formations %}
        <a class="link" href="{{path('prostages_stagesParFormation', {'id': formationCourante.id})}}">{{ formationCourante.nomLong}}</a>
        <br><br>
    {% endfor %}
</div>
{% endblock %}
