{% extends 'base.html.twig' %}

{% block contenu %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 style="text-align:center;">Liste des stages proposés</h1>
    <br>
    <div class="card-desk">
        {% for stageCourant in stages %}
            <a class="link" href="{{path('prostages_stage', {id:stageCourant.id})}}">
                <div class="card">
                    <h5 class="card-title" style="text-align:center;">{{ stageCourant.titre }}</h5>
                    <h6 class="card-text" style="text-align:center;">
                        <small class="text-muted">
                            {{ stageCourant.Entreprise.nom }}
                        </small>
                    </h6>
                    {% for formationCourante in stageCourant.formations%}
                        <h6 class="card-text" style="text-align:center;">
                            <small class="text-muted">
                            {{ formationCourante.nomLong}}</h6>
                            {% if loop.last == false %}
                                ,
                            {% endif %}
                            </small>
                    {% endfor %}
                </div>
            </a>
            <br>
        {% endfor %}
    </div>
</div>
{% endblock %}
