<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}PROSTAGES{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block titre %}
        <h1>ProStages<h1>
        {% endblock %}
        {% block menu %}
        <h1>----------------- MENU ----------------<h1>
        {% endblock %}
        {% block contenu %}
        {% endblock %}
        {% block footer %}
        <h1>----------------- FOOTER ----------------<h1>
        {% endblock %}
    </body>
</html>
